<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary">
          <h4 class="mb-0 text-center">Registro de empleado</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="form-group">
              <label for="lastName">Apellidos <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName">
              <div *ngIf="userForm.get('lastName').touched && userForm.get('lastName').invalid" class="text-danger">
                Apellidos es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="firstName">Nombres <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName">
              <div *ngIf="userForm.get('firstName').touched && userForm.get('firstName').invalid" class="text-danger">
                Nombres es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="dni">DNI <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="dni" id="dni">
              <div *ngIf="userForm.get('dni').touched && userForm.get('dni').invalid" class="text-danger">
                DNI es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Teléfono</label>
              <input type="text" class="form-control" formControlName="phone" id="phone">
            </div>
            <div class="form-group">
              <label for="address">Dirección</label>
              <input type="text" class="form-control" formControlName="address" id="address">
            </div>
            <div class="form-group">
              <label for="email">Correo <span class="text-danger">*</span></label>
              <input type="email" class="form-control" formControlName="email" id="email">
              <div *ngIf="userForm.get('email').touched && userForm.get('email').invalid" class="text-danger">
                Email es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="password" id="password">
              <div *ngIf="userForm.get('password').touched && userForm.get('password').invalid" class="text-danger">
                Contraseña es obligatoria.
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="btn btn-success" (click)="createEmployee()">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>