<h5 class="mb-3">Lista de productos</h5>
<div class="card tbl-card">
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th style="text-align: center;">NOMBRE</th>
                    <th style="text-align: center;">PRECIO DE VENTA</th>
                    <th style="text-align: center;">PRECIO DE COMPRA</th>
                    <th style="text-align: center;">CANTIDAD</th>
                    <th style="text-align: center;">TIPO DE PRODUCTO</th>
                </tr>
            </thead>
            <tbody>
                @for (item of products; track item) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.salePrice}}</td>
                    <td>{{item.purchasePrice}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.productType}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>