<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-primary">
            <h4 class="mb-0 text-center">Registro de cliente</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm">
              <div class="form-group">
                <label for="lastName">Apellido paterno <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="lastName" id="lastName">
                <div *ngIf="userForm.get('lastName').touched && userForm.get('lastName').invalid" class="text-danger">
                  Apellido paterno es obligatorio.
                </div>
              </div>
              <div class="form-group">
                <label for="middleName">Apellido materno <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="middleName" id="middleName">
                <div *ngIf="userForm.get('middleName').touched && userForm.get('middleName').invalid" class="text-danger">
                  Apellido materno es obligatorio.
                </div>
              </div>
              <div class="form-group">
                <label for="firstNames">Nombre <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="firstNames" id="firstNames">
                <div *ngIf="userForm.get('firstNames').touched && userForm.get('firstNames').invalid" class="text-danger">
                  Nombre es obligatorio.
                </div>
              </div>
              <div class="form-group">
                <label for="dni">DNI <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="dni" id="dni">
                <div *ngIf="userForm.get('dni').touched && userForm.get('dni').invalid" class="text-danger">
                  DNI es obligatorio.
                </div>
              </div>
              <div class="form-group">
                <label for="phone">Teléfono <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="phone" id="phone">
                <div *ngIf="userForm.get('phone').touched && userForm.get('phone').invalid" class="text-danger">
                  Teléfono es obligatorio.
                </div>
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-success" (click)="createClient()">Registrarse</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>